uvicorn~=0.23.2
fastapi~=0.103.2
SQLAlchemy~=2.0.21
pydantic~=2.4.2
python-dotenv~=1.0.0
passlib~=1.7.4
jose~=1.0.0
starlette~=0.27.0
rq~=1.15.1
redis~=5.0.1
schedule~=1.2.1
APScheduler~=3.10.4
requests~=2.31.0
httpx~=0.25.1
Pillow~=10.1.0